* {
    font-family: arial;
    font-size: 14pt;
}

h1{
    font-size: 32pt;
}

body {
    text-align:center;
    background-color: rgb(220, 220, 220)
}

#menu-container {
    display: flex;
    margin: 0 auto;
}

#menu {
    margin: 0 auto;
    padding: 28px;
    background-color: rgba(195, 239, 195, 0.804);
    border-radius: 10px;
}

.input {
    width:400px;
    border-radius: 5px;
    border: 1%;
}
